@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');

@font-face{
    font-family:'SBGlyphs';
    src:url('https://starblast.data.neuronality.com/fonts/starblast-glyphs.ttf?v=1%27');
    font-weight:normal;
    font-style:normal
}

body {
	font-family: 'Poppins', sans-serif;
    color: rgb(244, 244, 244);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #232b46
} 

.background {
	background: linear-gradient(45deg, rgb(21, 22, 29), rgb(30, 36, 54));
    position: fixed;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    overflow: hidden;
	z-index: -1;
}

.header {
	display: flex;
	flex-direction: row;
	position: fixed;
	align-items: center;
	top: 0;
	left: 0;
	right: 0px;
	height: 60px;
	background: linear-gradient(25deg, rgb(25, 28, 37), rgb(35, 43, 70), rgb(30, 36, 54), rgb(35, 43, 70));
}

.header-title  {
	display: flex;
	align-items: center;
	margin-left: 5px;
	font-size: 30px;
    font-weight: 1000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 36px;
}

.header-title-name {
    margin-left: 10px;
    background: linear-gradient(to right, #e73636 10%, #36bbe7 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

/*  ----  No phones  ----  */

.bloc-phone-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    z-index: 10;
    display: none;
    & .bloc-phone-warning-background {
        position: absolute;
        background-color: rgba(27, 34, 51, 0.8);
        backdrop-filter: blur(25px);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: backdrop-filter step-end 1s;
        & .bloc-phone-warning-background-opener {
            position: relative;
            height: 1px;
            width: 1px;
            border: 0px #9c5c5c solid;
            opacity: 1;
            background-color: #e73636;
            transition: border ease-in-out 1.2s , opacity 1.8s cubic-bezier(1, 0, 0, 0.0001);
            border-radius: 100%;
        }
        & .opened-background-bypass {
            border: 80vh #e73636 solid;
            opacity: 0;
        }
    }
    & .opened-bloc-phone-warning-background {
        backdrop-filter: blur(0px);
        background-color: transparent;
    }
    & .bloc-phone-warning-content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 70vw;
        padding: 4vh;
        margin-top: 5vh;
        gap: 4vh;
        background-color: rgb(62, 70, 81);
        align-items: center;
        border-radius: 10px;
        text-align: center;
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
        transition: transform 1s ease, filter 1s ease, opacity 0.6s ease;
        & .warning {
            font-weight: 800;
            font-size: 30px;
            color: #e73636;
        }
        & .update {
            font-weight: 600;
            font-size: 16px;
            color: #e73636;
            background-color: #e7363610;
            border-radius: 15px;
            padding: 10px;
        }
        & .bypass {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1vh 2vw;
            border-radius: 10px;
            border: 2px #e73636 solid;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: ease 0.4s;
            &:active {
                border: 2px #36cce7 solid !important;
            }
            &:hover {
                border: 2px #36cce7 solid;
            }
        }
    }
    & .opened-content-bypass {
        transform: scale(2);
        filter: blur(50px);
        opacity: 0;
    }
}

@media only screen and (max-width: 900px) {
    .bloc-phone-warning {
        display: flex;
    }
}

/*  ----  Notification PopUp  ----  */

.notification-popup {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    background: linear-gradient(125deg, rgba(75, 88, 104, 0.9), rgba(52, 64, 78, 0.9));
    width: fit-content;
    left: 50%;
    transform: translatex(-50%);
    top: -100px;
    height: fit-content;
    transition: top 0.25s ease;
    border-radius: 15px;
    overflow: hidden;
    &.isShowed {
        top: 35px;
    }
}

.notification-popup-concerned-part {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 10px 0 10px;
    font-family: 'Material Symbols Rounded';
    font-size: 26px;
    background: linear-gradient(to right, rgba(107, 201, 185, 0.6), rgba(76, 153, 140, 0.6));
    cursor: default;
    transition: transform 0.2s ease-in-out;
}

.notification-popup-affilied-text {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: default;
}

.notification-popup-fast-exit {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 10px 0 10px;
    font-family: 'Material Symbols Rounded';
    font-size: 26px;
    background: linear-gradient(to left, rgba(201, 107, 107, 0.6), rgba(153, 76, 76, 0.6));
    cursor: pointer;
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
    &:hover {
        transform: scale(1.15);
    }
    &:active {
        opacity: 0.8;
    }
}

/*  ----  Side icons  ----  */

.side-icons {
    position: fixed;
    top: 40px;
    left: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(215deg, rgb(25, 28, 37), rgb(30, 36, 54));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.side-icons-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-icons-elements-image {
    font-family: 'Material Symbols Rounded';
    font-size: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
    &.showed {
        transform: scale(1) !important;
        background: linear-gradient(45deg, rgba(231, 54, 54, 0.6) 20%, rgba(54, 204, 231, 0.6) 70%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & img {
        border-radius: 10px;
        height: 40px;
        width: auto;
    }
    &:hover {
        transform: scale(1.075);
    }
}

.side-icons-elements-image-smaller {
    font-size: 48px !important;
}

.side-icons-elements-image-bigger {
    font-size: 52px !important;
}

.starblast-icons {
    margin-top: 6px;
    font-family: 'SBGlyphs';
    font-size: 46px;
}

.side-icons-elements-slider {
    z-index: -1;
    left: -200px;
    height: 50px;
    width: 150px;
    display: flex;
    opacity: 0;
    justify-items: center;
    align-items: center;
    position: fixed;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(to right, rgb(151, 62, 62), rgb(70, 120, 151) 30%, rgba(0,0,0,0) 90%);
    transition: 0.3s ease-out;
    &.showed {
        opacity: 1;
        left: 65px;
    }
}

.side-icons-elements-slider-text {
    color: #efefef;
    font-weight: 400;
    margin-left: 15px;
    font-size: 20px;
    text-shadow: 0 0 10px #232b46;
}

.error {
    display: flex;
    flex-direction: column;
    background-color: #b3444477;
    padding: 10px 16px;
    border-radius: 12px;
    gap: 10px;
    & .text {
        font-weight: 600;
        font-size: 18px;
    }
    & .content {
        display: flex;
        gap: 10px;
        font-size: 15px;
        font-style: italic;
        &::before {
            content: '';
            top: 0;
            left: 0;
            padding: 1.5px;
            margin: 0;
            background-color: #8f4141;
            border-radius: 90px;
        }
    }
}

/*  ----  Side window  ----  */

.side-window {
    border-radius: 15px 15px 0 0;
    position: fixed;
    top: 65px;
    padding: 5px 15px 10px 15px;
    left: -300px;
    width: calc(300px - 15px);
    height: calc(100% - 80px);
    background: linear-gradient(45deg, rgb(25, 28, 37), rgb(30, 36, 54));
    transition: left 0.4s ease-in-out;
    overflow-y: scroll;
    & .red {
        color: rgb(239, 55, 55); 
        font-weight: 500; 
        font-size: 16px;
        margin-bottom: 20px;
    }
    & .error {
        display: flex;
        flex-direction: column;
        background-color: #b3444477;
        padding: 10px 16px;
        border-radius: 12px;
        gap: 10px;
        margin-top: 2vh;
        
        & .text {
            font-weight: 600;
            font-size: 18px;
        }
        & .content {
            display: flex;
            gap: 10px;
            font-size: 15px;
            font-style: italic;
            &::before {
                content: '';
                top: 0;
                left: 0;
                padding: 1.5px;
                margin: 0;
                background-color: #8f4141;
                border-radius: 90px;
            }
        }
    }
}

.showed {
    left: 66px;
}

.side-window-title {
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
}

.side-window-bar {
    margin: 0 10px 0 0;
    height: 30px;
    width: 4px;
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.2);
}

.side-window-ttl {
    border-radius: 5px;
    background: linear-gradient(to right, rgba(231, 54, 54, 0.1)20%, rgba(54, 204, 231, 0.1) 50%, rgba(0,0,0,0));
    padding: 0 0px 0 7px;
}

.side-window-element {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(345deg, rgb(45, 49, 59), rgb(53, 60, 82));
    transition: ease 0.2s;
    &:hover {
        transform: scale(1.03);
        border-radius: 15px;
        opacity: 0.9;
    }
}

.side-window-element-name-logo {
    margin: 1px 10px 0 0;
    font-family: 'SBGlyphs';
    font-size: 16px;
}

/*  ----  Main Screen  ----  */

.main-screen {
    opacity: 0;
    padding: 10px;
    position: fixed;
    transition: margin 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    background: linear-gradient(200deg, rgb(30, 31, 41), rgb(30, 36, 54)75%);
    border-radius: 15px;
    margin: 65px 0 0 65px;
    height: calc(100% - 75px);
    width: calc(100% - 91px);
    top: 0px;
    left: 0px;
    & .error {
        display: flex;
        flex-direction: column;
        background-color: #b3444477;
        padding: 20px 26px;
        border-radius: 12px;
        gap: 10px;
        & .text {
            font-weight: 600;
            font-size: 22px;
        }
        & .content {
            display: flex;
            gap: 10px;
            font-size: 16px;
            font-style: italic;
            &::before {
                content: '';
                top: 0;
                left: 0;
                padding: 1.5px;
                margin: 0;
                background-color: #8f4141;
                border-radius: 90px;
            }
        }
    }
}

.soloOpen {
    opacity: 1;
    margin: 65px 0 0 65px;
    width: calc(100% - 91px);
}

.rcz {
    opacity: 1;
    margin: 65px 0 0 386px;
    width: calc(100% - 412px);
}

/*  ----  Mod Cards  ----  */

.mod-card {
    cursor: default;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-25deg, rgb(38, 43, 56), rgb(39, 46, 70));
    border-radius: 15px;
    height: 210px;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
    transition: 0.4s ease;
    &.opened {
        height: fit-content;
        background: linear-gradient(-25deg, rgb(47, 57, 81), rgb(35, 46, 88));
    }
}

.mod-card-head {
    display: flex;
    flex-direction: row;
}

.mod-card-head-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mod-card-head-container {
    display: flex;
    flex-direction: column;
}

.mod-card-head-sub-container {
    display: flex;
    flex-direction: row;
}

.mod-card-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0;
}

.mod-card-image img {
    border-radius: 10px;
    max-height: 153px;
    max-width: 250px;
}

@media only screen and (max-width: 900px) {
    .mod-card-image img {
        display: none;
    }
}

.mod-card-title {
    display: block;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    margin-left: 14px;
}

@media only screen and (max-width: 900px) {
    .mod-card-title {
        margin-left: 0;
        height: 160px;
    }
}

.mod-card-title-name {
    background: linear-gradient(to right, rgba(231, 54, 54, 0.1)20%, rgba(54, 204, 231, 0.1) 40%, rgba(0,0,0,0));
    font-size: 24px;
    padding-left: 8px;
    border-radius: 5px;
    width: 350px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 900px) {
    .mod-card-title-name {
        white-space: nowrap;
        overflow: hidden;
        width: 65vw;
    }
}

.mod-card-title-credits {
    display: flex;
    flex-direction: column;
    padding: 7px 7px 2px 7px;
    border-radius: 5px;
    width: fit-content;
    background: linear-gradient(-25deg, rgb(46, 53, 68), rgb(45, 54, 82));
}

.mod-card-title-credit {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    & img {
        display: flex;
        border-radius: 90px;
        max-height: 25px;
        max-width: 25px;
    }
}

.mod-card-title-credit-name {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 7px 0 7px;
    font-weight: 500;
}

.mod-card-title-credit-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    border-radius: 90px;
    padding: 0 6px 0 6px;
    gap: 5px;
    transition: transform 0.4s ease;
}

.mod-card-title-credit-badge {
    transition: transform 0.2s ease;
}

.mod-card-title-credit-badge-meaning {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    position: absolute;
    padding: 2px 10px;
    margin-top: 4px;
    margin-left: 4px;
    width: auto;
    background-color: #335b6d;
    border-radius: 0px 10px 10px 10px;
    font-size: small;
    opacity: 0;
    transition: ease 0.2s;
    z-index: -10;
    align-items: center;
    justify-content: center;
}

.mod-card-title-credit-badge:hover > .mod-card-title-credit-badge-meaning {
    opacity: 1;
    z-index: 10;
}

/*  ----  Mod Cards (Buttons)  ----  */

.mod-card-buttons {
    display: flex;
    gap: 10px;
}

.mod-card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    background: rgba(230, 230, 230, 0.2);
    transition: 0.2s ease;
    height: 30px;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        border-radius: 16px;
        background: rgba(230, 230, 230, 0.15);
    }
}

.mod-card-button-name {
    font-family: 'Poppins';
    font-size: 20px;
}

.mod-card-button-image {
    font-family: 'Material Symbols Rounded';
    font-size: 25px;
    opacity: 1;
    transition: ease 0.4s;
}

.mod-card-button-progress-bar {
    position: relative;
    font-size: 18px;
    opacity: 1;
    transition: ease 0.4s;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.hidden {
    opacity: 0;
    font-size: 0;
    width: fit-content;
    height: fit-content;
}

/*  ----  Mod Cards (Description)  ----  */

.mod-card-description {
    overflow-y: scroll;
    border-radius: 10px;
    border: 2px solid rgba(46, 53, 68, 0.6);
    border-style: dotted;
    padding: 10px 15px;
    height: 187.5px;
    width: 100%;
    min-width: 200px;
}

@media only screen and (max-width: 900px) {
    .mod-card-description {
        display: none;
    }
}

/*  ----  Mod Cards (Documentation)  ----  */

.mod-card-separation {
    background-color: rgba(230, 230, 230, 0.2);
    border-radius: 15px;
    padding: 1px;
    width: calc(100% - 20px);
    position: sticky;
    margin-top: 10px;
}

.mod-card-documentation {
    display: flex;
    flex-direction: column;
    & .title {
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px;
    }
    & p {
        margin-left: 10px;
        margin-top: 10px;
    }
    & .gold, .blue, .green {
        margin-bottom: 5px;
        margin-top: 10px;
        &::before {
            content: '';
            position: relative;
            top: 0;
            right: 0;
            padding: 0 1.5px;
            margin-right: 10px;
            border-radius: 90px;
        }
    }
    & .gold {
        color: rgb(185, 151, 0); 
        &::before {
            background-color: rgba(185, 151, 0, 0.4);
        }
    }
    & .blue {
        color: rgb(0, 154, 185); 
        &::before {
            background-color: rgba(0, 154, 185, 0.4);
        }
    }
    & .green {
        color: rgb(129, 204, 0); 
        &::before {
            background-color: rgba(129, 204, 0, 0.4);
        }
    }
    & .code {
        position: relative;
        font-family: monospace;
        background-color: rgba(31, 31, 31, 0.6);
        border-radius: 10px;
        font-size: 14px;
        padding: 10px 15px;
        word-spacing: 2px;
        white-space: nowrap;
        overflow-y: hidden;
        & .copy-button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 5px;
            right: 5px;
            width: 25px;
            height: 25px;
            border-radius: 8px;
            background-color: rgb(88, 88, 88);
            transition: ease 0.2s;
            cursor: pointer;
            font-family: 'Material Symbols Rounded';
            &:hover {
                background-color: rgb(60, 60, 60);
            } 
        }
    }
    & .link {
        position: relative;
        & .icon {
            display: flex;
            flex-direction: row;
            padding: 4px 10px;
            background-color: #5c619c;
            border-radius: 10px;
            font-family: 'Material Symbols Rounded';
            align-items: center;
            gap: 15px;
            font-size: larger;
            width: fit-content;
            cursor: pointer;
            color: rgb(220, 220, 220);
            & .text {
                font-family: 'Poppins';
                font-size: small;
                font-style: italic;
                font-weight: 300;
            }
            &:hover .text {
                text-decoration: underline;
            }
        }
    }
}

/*  ----  Home and about me  ----  */

.home-main {
    height: fit-content;
    width: 100%;
    & h1, h2, h3, h4 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0px;
        margin-left: 15px;
        &::before {
            content: '';
            display: flex;
            height: 16px;
            width: 0;
            padding: 2px;
            border-radius: 90px;
            align-items: center;
            background: linear-gradient(175deg, rgba(231, 54, 54, 0.4), rgba(54, 204, 231, 0.4));
        }
    }
    & p {
        margin-left: 35px;
    }
    & .code {
        font-family: monospace;
        background-color: rgba(72, 72, 72, 0.6);
        border-radius: 10px;
        font-size: 14px;
        padding: 10px 15px;
        margin-left: 30px;
        word-spacing: 2px;
    }
    & .blue {
        color: rgb(0, 129, 185);
        font-weight: 600;
    }
    & .post-warning {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 12px 20px;
        background-color: #b3444489;
        border-radius: 15px;
        width: fit-content;
        justify-content: start;
        & .ita {
            font-style: italic;
            font-size: small;
            display: flex;
            gap: 10px;
            &::before {
                content: '';
                left: 0;
                top: calc(50% - 0.75px);
                margin: 0;
                padding: 1.5px;
                border-radius: 90px;
                background-color: #8f4141;
            }
        }
        & .fat {
            font-weight: 500;
            font-size: x-large;
        }
    }
    & .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        border: 2px rgba(230, 230, 230, 0.05) dotted;
        border-radius: 10px;
        margin-bottom: 15px;
        & .connexion {
            display: flex;
            flex-direction: column;
            width: fit-content;
            flex-wrap: wrap;
            gap: 6px;
            & .head {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                & img {
                    height: 50px;
                    width: auto;
                    border-radius: 10px;
                }
                & .name {
                    font-weight: 600;
                    font-size: x-large;
                }
            }
            & .body {
                display: flex;
                flex-direction: column;
                width: calc(100% - 12px);
                gap: 6px;
                & .name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    width: fit-content;
                    padding: 2px 6px;
                    border-radius: 6px;
                    background: linear-gradient(to right, rgba(230, 230, 230, 0.1), rgb(0,0,0,0));
                    & .icon {
                        font-family: 'Material Symbols Rounded';
                    }
                }
                & .button {
                    border-radius: 6px;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    padding: 2px 6px;
                    background: linear-gradient(to right, rgba(231, 54, 54, 0.1), rgba(54, 204, 231, 0.1));
                    cursor: pointer;
                    transition: ease 0.2s;
                    filter: brightness(1);
                    &:hover {
                        transform: scale(1.05);
                        filter: brightness(1.2);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

/*  ----  Scroll Bar  ----  */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(57, 70, 110);
}